<h2>Find out more about me...</h2>

<h3>My hobbies are:</h3>

	<ul>
		<li ng-repeat="hobby in hobbies">{{hobby}}</li>
	</ul>


<h3>My occupations are:</h3>

	<ul>
		<li ng-repeat="occupation in occupations">{{occupation}}</li>
	</ul>

	<h4>You are able to change the order of the list by using the drop down menu!</h4>

  	<select ng-model="order" ng-change="getOccupations(order)">
    	<option value="desc">Descending</option>
    	<option value="asc">Ascending</option>
  	</select>

<h4>My last occupation is:  {{latestOccupation}}</h4>