body {
	margin: 0;
	padding: 0;
	background-color: #DEDEDE;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	padding: 0 auto;
	width: 70%;
	height: auto;
	background-color: #D7D7D7;
}

.menu {
  width: 100%;
  height: 50px;
}

.menu ul{
  float: right;
}

.menu ul li{
  list-style-type: none;
  display: inline;
  margin: 10px;
}